<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Memory Game</title>
  <link rel="stylesheet" href="../css/home.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <script src="../js/navbar.js" defer></script>
</head>
<body>
  <nav class="header">
  <h1 class="logo">MEMORY GAME</h1>
  <ul class="main-nav">
      <li id="game" style="display: none;"><a href="../pages/start.html" target="_top">Game</a></li>
      <li id="leardboard" style="display: none;"><a href="../pages/leaderBoard.html" target="_top">Leaderboard</a></li>
      <li><a href="../pages/about.html" target="_top">About</a></li>
      <li id="logout" style="display: none;"><a href="../pages/index.html" target="_top">Log Out</a></li>
      <li id="signup"><a href="../pages/SignUp.html" target="_top">Sign Up</a></li>
  </ul>
</nav>
</body>
<script>

</script>
</html>
