
html{
    font-family: 'Montserrat', sans-serif;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  header {
    text-align: center;
  }
  
  figure {
    margin: 0;
  }
  
  figure img {
    max-width: 100%;
    height: auto;
  }
  .about-image{
    height: 10rem;
    width: 10rem;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    color: #333;
  }
  
  p {
    color: #666;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  